---
import * as child from 'child_process';
import { MENU_LINKS } from "@/data/constants";

const year = new Date().getFullYear();
const currentCommitTime: String = child.execSync("git show -s --format=%ci").toString().trim();
const currentCommit: String = child.execSync("git rev-parse --short HEAD").toString().trim();
---

<footer>
	<div class="mr-0 sm:mr-4">
		<span aria-label="author-name">WO Kah Jen</span>
		&copy; {year} | 
		<span aria-label="version-info" style="font-style:italic;">Version: <code style="text-decoration: underline;">#{currentCommit}</code> @ {currentCommitTime}</span>
	</div>
	<div class="bruh"></div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		{
			MENU_LINKS.map((link) => (
				<a
					href={link.path}
					class="px-4 py-2 sm:py-0 sm:px-2 sm:hover:text-textColor sm:hover:underline"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
